<button class="button button__top" (click)="handleLinkClick(targetUrl,  ButtonPositions.TOP)"
>
  <span class="description"><span class="icon">&#9650;</span></span>

</button>


<button class="button button__bottom" (click)="handleLinkClick(targetUrl,  ButtonPositions.BOTTOM)"
>
  <span class="description"><span class="icon">&#9650;</span></span>

</button>

<button class="button button__left" (click)="handleLinkClick(targetUrl, ButtonPositions.LEFT)"
>
  <span class="description"> <span class="icon">&#9650;</span></span>


</button>

<button class="button button__right" (click)="handleLinkClick(targetUrl,  ButtonPositions.RIGHT)"
>
  <span class="description"><span class="icon">&#9650;</span></span>

</button>

<button class="button button__center-1" (click)="handleLinkClick(targetUrl,  ButtonPositions.CENTER)"
>
  <span class="description"><span class="icon">–</span></span>

</button>
<button class="button button__center-2" (click)="handleLinkClick(targetUrl,  ButtonPositions.CENTER_2)"
>
  <span class="description"><span class="icon">&#43;</span></span>

</button>

<button class="button button__left--2" (click)="handleLinkClick(targetUrl,  ButtonPositions.LEFT_2)"
>
  <span class="description"><span class="icon"><</span></span>

</button>

<button class="button button__right--2" (click)="handleLinkClick(targetUrl,  ButtonPositions.RIGHT_2)"
>
  <span class="description"><span class="icon">></span></span>

</button>
