<button class="button button__top" (click)="handleLinkClick(targetUrl, 'top')"
>
  <span class="description"><span class="icon">&#9650;</span></span>

</button>


<button class="button button__bottom" (click)="handleLinkClick(targetUrl, 'bottom')"
>
  <span class="description"><span class="icon">&#9650;</span></span>

</button>

<button class="button button__left" (click)="handleLinkClick(targetUrl, 'left')"
>
  <span class="description"> <span class="icon">&#9650;</span></span>


</button>

<button class="button button__right" (click)="handleLinkClick(targetUrl, 'right')"
>
  <span class="description"><span class="icon">&#9650;</span></span>

</button>

<button class="button button__center-1" (click)="handleLinkClick(targetUrl, 'center-1')"
>
  <span class="description"><span class="icon">–</span></span>

</button>
<button class="button button__center-2" (click)="handleLinkClick(targetUrl, 'center-2')"
>
  <span class="description"><span class="icon">&#43;</span></span>

</button>

<button class="button button__center-3" (click)="handleLinkClick(targetUrl, 'center-3')"
>
  <span class="description"><span class="icon">&#8634;</span></span>

</button>

<button class="button button__center-4" (click)="handleLinkClick(targetUrl, 'center-4')"
>
  <span class="description"><span class="icon">&#8635;</span></span>

</button>
