:host {
  .name-container{
    .name{
      color: #032756;
    }
  }

  background: rgb(100, 204, 230);
  background: radial-gradient(circle, rgb(100, 204, 230) 0%, rgb(51, 59, 176) 46%, rgb(40 40 40) 100%)
}
